:root {
    --whitetext: rgb(243, 239, 239);
    --position: 50% 15%;
    --black: black;
}

/*Navigation Bar and Menu links*/

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: var(--black);
    box-shadow: 0px 2px 2px 2px;
}


h1 {
    display: flex;
    color: var(--whitetext);
    font-size: 40px;
    font-weight: bolder;
    
}

.nav-links a {
    color: var(--whitetext);
}

.menu {
    display: flex;
    font-size: 20px;
    padding: 1px;
    background-color: var(--black);
   }

   .menu li:hover {
    background-color: #bcbdbe;
    border-radius: 5px;
    transition: 0.3s;
   }

   .menu li {
    padding: 5px 14px;
   }
/*hero section which includes background image and profile picture*/
   .hero {
   /* background-image: url("../Images/white\ banner.png");*/
    background-color: rgb(24, 24, 24);
    height: 250px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 4px 5px 2px;
}

.hero img {
    display: flex;
    height: 220px;
    border-radius: 8px;
    border: 1px solid var(--black);
}
/*General styling for Body section*/
body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: white;
    color: var(--black);
}

/*About Me section*/
.title {
    border-right: 5px solid black;
    text-align: right;
    padding-right: 40px;
    min-width: 23%;
    max-width: 23%;
}

.title h2 {
    font-size: 35px;
}

.about-me {
    display: flex;
    align-items: stretch;
    padding-top: 30px;
    margin-top: 20px;
}

.about-me p {
    font-size: 20px;
    padding: 0 30px;
    line-height: 1.6;
    margin-left: 0px;
}

/*My Work Section*/
.my-work {
    padding: 30px 0;
    display: flex;
    background-color: rgb(222, 219, 219);
    
}

.my-work h2 {
    color: var(--black);
}

.projects-grid-wrapper{
    width: 80%;
    height: 420px;
    display: flex;
    justify-content: center
}

.projects-grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: (4, 1fr);
    gap: 10px;

}

.project {
    border: solid;
    color: var(--black);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    border-radius: 5%;
}

.project-label {
    color: var(--black);
    padding: 10px;
    width: 280px;
}

.project:hover {
    opacity: 1.0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    background-color: rgb(222, 219, 219);
    padding: 60px;
    width: 0%;
  }
  
  .grid-container > div {
    padding: 10px 0;
    font-size: 15px;
    text-align: center;
  }
  
  .item1 {
    grid-column: 1 / 3;
    background-color: rgb(222, 219, 219);
  }

.horiseon {
    grid-column: 1/3;
    grid-row: span 2;
    background-image: url("../Images/light\ blue\ bg\ horiseon.jpg");
}


.css {
    background-image: url("../Images/Image\ for\ proj\ 3.jpg") ;
    background-position: var (--position)
}


.javascript {
    background-image: url("../Images/green\ image\ for\ bg\ 4.jpg") ;
    background-position: var (--position)
}

.four {
    background-image: url("../Images/project\ css\ image.jpg") ;
    background-position: var (--position)
}

.five {
    background-image: url("../Images/white\ background\ for\ proj\ 2.jpg") ;
    background-position: var (--position)
}

/*Contact-me Section*/

.contact-me {
    display: flex;
    align-items: stretch;
    padding-top: 15px;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
}
  
.fa:hover {
	opacity: 0.7;
}

/*Social media links*/

.social-media {
    width: 18%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
}  

.fa-facebook {
	background: #3B5998;
	color: white;
}
  

.fa-linkedin {
    background: #007bb5;
    color: white;
  }

.fa-google {
    background: #dd4b39;
    color: white;
  }

.footer {
    clear: both;
    text-align: center;
    background-color: rgb(24, 24, 24);
    color: var(--whitetext);
}

.footer h2 {
    font-size: 20px;
}

/*REPONSIVE SMALLER SCREEN SECTION*/

@media screen and (max-width: 768px) {

    .item1 {
        grid-column: 1 / 1;
      }
      .grid-container {
        display: grid;
        grid-template-columns: auto;
    }

    .navbar {
        flex-direction: row;
        display: flex;
    }

    .menu {
        width: 87%;
        text-align: center;
    }

    .menu li {
        width: auto;
    }

    .navbar h1 {
        font-size: 20px;
    }

    
    .nav-links a {
        display: flex;
        font-size: 16px;
    }
    
    .hero {
       height: 160px;
    }

    .hero img {
        height: 150px;
    }

    .title {
        border-bottom: 5px solid var(--pop);
        text-align: center;
        min-width: 24%;
    }

    .title h2 {
        font-size: 24px;
        text-align: center;
    }

    .about-me p {
        font-size: 16px;
        line-height: 1.2;
        margin: 0%;
        margin-top: 10%;
    }

    .my-work {
        width: 100%;
        padding: 30px 0;
    }

    .my-work .project {
        display: flex;
        width: 50%;
        height: max-content;
        font-size: 10px;
        justify-content: flex-end;
    }

    .projects-grid-wrapper {
        width: 147%;
        padding: 10px;
    }
    
    /*.projects-grid {
        width: 50%;
    }*/
    
    .project {
        width: 100%;
    }
    

    footer {
        flex-direction: column;
    }
}