
/*Navigation Bar*/

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: black;
    box-shadow: 0px 2px 2px 2px;
}


h1 {
    display: flex;
    color: rgb(243, 239, 239);
    font-size: 40px;
    font-weight: bolder;
    
}

.nav-links a {
    color: rgb(243, 239, 239);
}

.menu {
    display: flex;
    font-size: 20px;
    padding: 1px;
    background-color: black;
   }

   .menu li:hover {
    background-color: #bcbdbe;
    border-radius: 5px;
    transition: 0.3s;
   }

   .menu li {
    padding: 5px 14px;
   }
/*hero section which includes background image and profile picture*/
   .hero {
    background-image: url("../Images/white\ banner.png");
    height: 250px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 4px 5px 2px;
}

.hero img {
    display: flex;
    height: 220px;
    border-radius: 8px;
    border: 1px solid black;
}
/*Body section*/
body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: white;
    color: black;
}


.title {
    border-right: 5px solid black;
    text-align: right;
    padding-right: 40px;
    min-width: 23%;
    max-width: 23%;
}

.title h2 {
    font-size: 48px;
}

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 15px;
}

.about-me p {
    font-size: 20px;
    padding: 0 30px;
    line-height: 1.6;
    width: 90%;
}

.my-work {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 15px;
}

.my-work p {
    font-size: 20px;
    padding: 0 30px;
    line-height: 1.6;
    width: 90%;
}

.work-grid-container {
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.work-grid {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.project-label {
    background-color: lightgray;;
    color: var(--primary);
    padding: 10px;
}


@media screen and (max-width: 992px) {
    .header {
        background-color: black;
    }
}

@media screen and (max-width: 768px) {
    background-color: black;
}

@media screen and (max-width: 576px) {
    background-color: black;
}